<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Space X  Falcon 9 First Stage Landing Prediction**

## Web scraping Falcon 9 and Falcon Heavy Launches Records from Wikipedia

Estimated time needed: **40** minutes

In this lab, you will be performing web scraping to collect Falcon 9 historical launch records from a Wikipedia page titled `List of Falcon 9 and Falcon Heavy launches`

https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/Falcon9_rocket_family.svg)

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

More specifically, the launch records are stored in a HTML table shown below:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/falcon9-launches-wiki.png)

  ## Objectives
Web scrap Falcon 9 launch records with `BeautifulSoup`: 
- Extract a Falcon 9 launch records HTML table from Wikipedia
- Parse the table and convert it into a Pandas data frame

First let's import required packages for this lab

In [1]:
!pip3 install beautifulsoup4
!pip3 install requests

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from beautifulsoup4) (2.3.2.post1)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2023.5.7)

In [2]:
import sys

import requests
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd

and we will provide some helper functions for you to process web scraped HTML table

In [3]:
def date_time(table_cells):
    """
    This function returns the data and time from the HTML  table cell
    Input: the  element of a table data cell extracts extra row
    """
    return [data_time.strip() for data_time in list(table_cells.strings)][0:2]

def booster_version(table_cells):
    """
    This function returns the booster version from the HTML  table cell 
    Input: the  element of a table data cell extracts extra row
    """
    out=''.join([booster_version for i,booster_version in enumerate( table_cells.strings) if i%2==0][0:-1])
    return out

def landing_status(table_cells):
    """
    This function returns the landing status from the HTML table cell 
    Input: the  element of a table data cell extracts extra row
    """
    out=[i for i in table_cells.strings][0]
    return out


def get_mass(table_cells):
    mass=unicodedata.normalize("NFKD", table_cells.text).strip()
    if mass:
        mass.find("kg")
        new_mass=mass[0:mass.find("kg")+2]
    else:
        new_mass=0
    return new_mass


def extract_column_from_header(row):
    """
    This function returns the landing status from the HTML table cell 
    Input: the  element of a table data cell extracts extra row
    """
    if (row.br):
        row.br.extract()
    if row.a:
        row.a.extract()
    if row.sup:
        row.sup.extract()
        
    colunm_name = ' '.join(row.contents)
    
    # Filter the digit and empty names
    if not(colunm_name.strip().isdigit()):
        colunm_name = colunm_name.strip()
        return colunm_name

To keep the lab tasks consistent, you will be asked to scrape the data from a snapshot of the  `List of Falcon 9 and Falcon Heavy launches` Wikipage updated on
`9th June 2021`

In [4]:
static_url = "https://en.wikipedia.org/w/index.php?title=List_of_Falcon_9_and_Falcon_Heavy_launches&oldid=1027686922"

Next, request the HTML page from the above URL and get a `response` object

### TASK 1: Request the Falcon9 Launch Wiki page from its URL

First, let's perform an HTTP GET method to request the Falcon9 Launch HTML page, as an HTTP response.

In [8]:
# use requests.get() method with the provided static_url
# assign the response to a object
response = requests.get(static_url).text
#print(response)

Create a `BeautifulSoup` object from the HTML `response`

In [9]:
# Use BeautifulSoup() to create a BeautifulSoup object from a response text content
soup = BeautifulSoup(response, 'html.parser')

Print the page title to verify if the `BeautifulSoup` object was created properly

In [10]:
print(soup.title)
# Use soup.title attribute

<title>List of Falcon 9 and Falcon Heavy launches - Wikipedia</title>

### TASK 2: Extract all column/variable names from the HTML table header

Next, we want to collect all relevant column names from the HTML table header

Let's try to find all tables on the wiki page first. If you need to refresh your memory about `BeautifulSoup`, please check the external reference link towards the end of this lab

In [13]:
# Use the find_all function in the BeautifulSoup object, with element type `table`
# Assign the result to a list called `html_tables`
html_tables = soup.find_all('table')

Starting from the third table is our target table contains the actual launch records.

In [15]:
# Let's print the third table and check its content
first_launch_table = html_tables[2]
#print(first_launch_table)

You should able to see the columns names embedded in the table header elements `<th>` as follows:

```
<tr>
<th scope="col">Flight No.
</th>
<th scope="col">Date and<br/>time (<a href="/wiki/Coordinated_Universal_Time" title="Coordinated Universal Time">UTC</a>)
</th>
<th scope="col"><a href="/wiki/List_of_Falcon_9_first-stage_boosters" title="List of Falcon 9 first-stage boosters">Version,<br/>Booster</a> <sup class="reference" id="cite_ref-booster_11-0"><a href="#cite_note-booster-11">[b]</a></sup>
</th>
<th scope="col">Launch site
</th>
<th scope="col">Payload<sup class="reference" id="cite_ref-Dragon_12-0"><a href="#cite_note-Dragon-12">[c]</a></sup>
</th>
<th scope="col">Payload mass
</th>
<th scope="col">Orbit
</th>
<th scope="col">Customer
</th>
<th scope="col">Launch<br/>outcome
</th>
<th scope="col"><a href="/wiki/Falcon_9_first-stage_landing_tests" title="Falcon 9 first-stage landing tests">Booster<br/>landing</a>
</th></tr>
```

Next, we just need to iterate through the `<th>` elements and apply the provided `extract_column_from_header()` to extract column name one by one

In [19]:
column_names = []

# Apply find_all() function with `th` element on first_launch_table
# Iterate each th element and apply the provided extract_column_from_header() to get a column name
# Append the Non-empty column name (`if name is not None and len(name) > 0`) into a list called column_names
for row in first_launch_table.find_all('th'):
    colname = extract_column_from_header(row)
    if ((colname is not None) and (len(colname)>0)):
        column_names += [colname]

Check the extracted column names

In [20]:
print(column_names)

['Flight No.', 'Date and time ( )', 'Launch site', 'Payload', 'Payload mass', 'Orbit', 'Customer', 'Launch outcome']

## TASK 3: Create a data frame by parsing the launch HTML tables

We will create an empty dictionary with keys from the extracted column names in the previous task. Later, this dictionary will be converted into a Pandas dataframe

In [31]:
launch_dict= dict.fromkeys(column_names)

# Remove an irrelvant column
del launch_dict['Date and time ( )']

# Let's initial the launch_dict with each value to be an empty list
launch_dict['Flight No.'] = []
launch_dict['Launch site'] = []
launch_dict['Payload'] = []
launch_dict['Payload mass'] = []
launch_dict['Orbit'] = []
launch_dict['Customer'] = []
launch_dict['Launch outcome'] = []
# Added some new columns
launch_dict['Version Booster']=[]
launch_dict['Booster landing']=[]
launch_dict['Date']=[]
launch_dict['Time']=[]
launch_dict['Launch Site']=[]
launch_dict['Booster Landing']=[]

Next, we just need to fill up the `launch_dict` with launch records extracted from table rows.

Usually, HTML tables in Wiki pages are likely to contain unexpected annotations and other types of noises, such as reference links `B0004.1[8]`, missing values `N/A [e]`, inconsistent formatting, etc.

To simplify the parsing process, we have provided an incomplete code snippet below to help you to fill up the `launch_dict`. Please complete the following code snippet with TODOs or you can choose to write your own logic to parse all launch tables:

In [38]:
launch_dict['Customer']

['SpaceX',
 'NASA',
 'NASA',
 'NASA',
 'NASA',
 'MDA',
 'SES',
 'Thaicom',
 'NASA',
 'Orbcomm',
 'AsiaSat',
 'AsiaSat',
 'NASA',
 'NASA',
 'USAF',
 'ABS',
 'NASA',
 None,
 'NASA',
 'Orbcomm',
 'NASA',
 'SES',
 'NASA',
 'SKY Perfect JSAT Group',
 'Thaicom',
 'ABS',
 'NASA',
 'SKY Perfect JSAT Group',
 'Iridium Communications',
 'NASA',
 'EchoStar',
 'SES',
 'NRO',
 'Inmarsat',
 'NASA',
 'Bulsatcom',
 'Iridium Communications',
 'Intelsat',
 'NASA',
 'NSPO',
 'USAF',
 'Iridium Communications',
 'SES S.A.',
 'KT Corporation',
 'NASA',
 'Iridium Communications',
 'Northrop Grumman',
 'SES',
 'Hisdesat',
 'Hispasat',
 'Iridium Communications',
 'NASA',
 'NASA',
 'Thales-Alenia',
 'Iridium Communications',
 'SES',
 'NASA',
 'Telesat',
 'Iridium Communications',
 'Telkom Indonesia',
 'Telesat',
 'CONAE',
 "Es'hailSat",
 'Spaceflight Industries',
 'NASA',
 'USAF',
 'Iridium Communications',
 'PSN',
 'NASA',
 'NASA',
 'SpaceX',
 'Canadian Space Agency',
 'NASA',
 'Spacecom',
 'SpaceX',
 'NASA',
 'Sky Perfect JSAT',
 'SpaceX',
 'NASA',
 'SpaceX',
 'SpaceX',
 'NASA',
 'SpaceX',
 'SpaceX',
 'NASA',
 'SpaceX',
 'SpaceX',
 'U.S. Space Force',
 'Republic of Korea Army',
 'SpaceX',
 'SpaceX',
 'CONAE',
 'SpaceX',
 'SpaceX',
 'SpaceX',
 'SpaceX',
 'USSF',
 'NASA',
 'NASA',
 'SpaceX',
 'NASA',
 'Sirius XM',
 'NRO',
 'Türksat',
 'SpaceX']

In [39]:
extracted_row = 0
#Extract each table 
for table_number,table in enumerate(soup.find_all('table',"wikitable plainrowheaders collapsible")):
   # get table row 
    for rows in table.find_all("tr"):
        #check to see if first table heading is as number corresponding to launch a number 
        if rows.th:
            if rows.th.string:
                flight_number=rows.th.string.strip()
                flag=flight_number.isdigit()
        else:
            flag=False
        #get table element 
        row=rows.find_all('td')
        #if it is number save cells in a dictonary 
        if flag:
            extracted_row += 1
            # Flight Number value
            # TODO: Append the flight_number into launch_dict with key `Flight No.`
            #print(flight_number)
            launch_dict["Flight No."].append(flight_number)
            datatimelist=date_time(row[0])
            
            # Date value
            # TODO: Append the date into launch_dict with key `Date`
            date = datatimelist[0].strip(',')
            launch_dict['Date'].append(date)
            #print(date)
            
            # Time value
            # TODO: Append the time into launch_dict with key `Time`
            time = datatimelist[1]
            launch_dict['Time'].append(time)
            #print(time)
              
            # Booster version
            # TODO: Append the bv into launch_dict with key `Version Booster`
            bv=booster_version(row[1])
            if not(bv):
                bv=row[1].a.string
            print(bv)
            launch_dict['Version Booster'].append(bv)
            
            # Launch Site
            # TODO: Append the bv into launch_dict with key `Launch Site`
            launch_site = row[2].a.string
            launch_dict['Launch Site'].append(launch_site)
            #print(launch_site)
            
            # Payload
            # TODO: Append the payload into launch_dict with key `Payload`
            payload = row[3].a.string
            launch_dict['Payload'].append(payload)
            #print(payload)
            
            # Payload Mass
            # TODO: Append the payload_mass into launch_dict with key `Payload mass`
            payload_mass = get_mass(row[4])
            launch_dict['Payload mass'].append(payload_mass)
            #print(payload)
            
            # Orbit
            # TODO: Append the orbit into launch_dict with key `Orbit`
            orbit = row[5].a.string
            launch_dict['Orbit'].append(orbit)
            #print(orbit)
            
            # Customer
            # TODO: Append the customer into launch_dict with key `Customer`
            customer = ''
            if (row[6].a is None):
                customer = 'None'
            else:
                customer = row[6].a.string
            launch_dict['Customer'].append(customer)
            #print(customer)
            
            # Launch outcome
            # TODO: Append the launch_outcome into launch_dict with key `Launch outcome`
            launch_outcome = list(row[7].strings)[0]
            launch_dict['Launch outcome'].append(launch_outcome)
            #print(launch_outcome)
            
            # Booster landing
            # TODO: Append the launch_outcome into launch_dict with key `Booster landing`
            booster_landing = landing_status(row[8])
            launch_dict['Booster Landing'].append(launch_outcome)
            #print(booster_landing)

F9 v1.0B0003.1
F9 v1.0B0004.1
F9 v1.0B0005.1
F9 v1.0B0006.1
F9 v1.0B0007.1
F9 v1.1B1003
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 FT
F9 v1.1
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT
F9 FT♺
F9 FT
F9 FT
F9 FT
F9 FTB1029.2
F9 FT
F9 FT
F9 B4
F9 FT
F9 B4
F9 B4
F9 FTB1031.2
F9 B4
F9 FTB1035.2
F9 FTB1036.2
F9 B4
F9 FTB1032.2
F9 FTB1038.2
F9 B4
F9 B4B1041.2
F9 B4B1039.2
F9 B4
F9 B5B1046.1
F9 B4B1043.2
F9 B4B1040.2
F9 B4B1045.2
F9 B5
F9 B5B1048
F9 B5B1046.2
F9 B5
F9 B5B1048.2
F9 B5B1047.2
F9 B5B1046.3
F9 B5
F9 B5
F9 B5B1049.2
F9 B5B1048.3
F9 B5[268]
F9 B5
F9 B5B1049.3
F9 B5B1051.2
F9 B5B1056.2
F9 B5B1047.3
F9 B5
F9 B5
F9 B5B1056.3
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5B1058.2
F9 B5
F9 B5B1049.6
F9 B5
F9 B5B1060.2
F9 B5B1058.3
F9 B5B1051.6
F9 B5
F9 B5
F9 B5
F9 B5
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5
F9 B5B1051.8
F9 B5B1058.5
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5 ♺
F9 B5B1060.6
F9 B5 ♺
F9 B5B1061.2
F9 B5B1060.7
F9 B5B1049.9
F9 B5B1051.10
F9 B5B1058.8
F9 B5B1063.2
F9 B5B1067.1
F9 B5

After you have fill in the parsed launch record values into `launch_dict`, you can create a dataframe from it.

In [40]:
df= pd.DataFrame({ key:pd.Series(value) for key, value in launch_dict.items() })

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [46]:
df['Booster Landing'] = df['Booster Landing'].replace('Success\n', 'Success')
df.head(30)

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time,Launch Site,Booster Landing
0,1,NaN,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success\n,F9 v1.0B0003.1,NaN,4 June 2010,18:45,CCAFS,Success
1,2,NaN,Dragon,0,LEO,NASA,Success,F9 v1.0B0004.1,NaN,8 December 2010,15:43,CCAFS,Success
2,3,NaN,Dragon,525 kg,LEO,NASA,Success,F9 v1.0B0005.1,NaN,22 May 2012,07:44,CCAFS,Success
3,4,NaN,SpaceX CRS-1,"4,700 kg",LEO,NASA,Success\n,F9 v1.0B0006.1,NaN,8 October 2012,00:35,CCAFS,Success
4,5,NaN,SpaceX CRS-2,"4,877 kg",LEO,NASA,Success\n,F9 v1.0B0007.1,NaN,1 March 2013,15:10,CCAFS,Success
5,6,NaN,CASSIOPE,500 kg,Polar orbit,MDA,Success,F9 v1.1B1003,NaN,29 September 2013,16:00,VAFB,Success
6,7,NaN,SES-8,"3,170 kg",GTO,SES,Success,F9 v1.1,NaN,3 December 2013,22:41,CCAFS,Success
7,8,NaN,Thaicom 6,"3,325 kg",GTO,Thaicom,Success,F9 v1.1,NaN,6 January 2014,22:06,CCAFS,Success
8,9,NaN,SpaceX CRS-3,"2,296 kg",LEO,NASA,Success\n,F9 v1.1,NaN,18 April 2014,19:25,Cape Canaveral,Success
9,10,NaN,Orbcomm-OG2,"1,316 kg",LEO,Orbcomm,Success,F9 v1.1,NaN,14 July 2014,15:15,Cape Canaveral,Success
10,11,NaN,AsiaSat 8,"4,535 kg",GTO,AsiaSat,Success,F9 v1.1,NaN,5 August 2014,08:00,Cape Canaveral,Success
11,12,NaN,AsiaSat 6,"4,428 kg",GTO,AsiaSat,Success,F9 v1.1,NaN,7 September 2014,05:00,Cape Canaveral,Success
12,13,NaN,SpaceX CRS-4,"2,216 kg",LEO,NASA,Success,F9 v1.1,NaN,21 September 2014,05:52,Cape Canaveral,Success
13,14,NaN,SpaceX CRS-5,"2,395 kg",LEO,NASA,Success,F9 v1.1,NaN,10 January 2015,09:47,Cape Canaveral,Success
14,15,NaN,DSCOVR,570 kg,HEO,USAF,Success\n,F9 v1.1,NaN,11 February 2015,23:03,Cape Canaveral,Success
15,16,NaN,ABS-3A,"4,159 kg",GTO,ABS,Success\n,F9 v1.1,NaN,2 March 2015,03:50,Cape Canaveral,Success
16,17,NaN,SpaceX CRS-6,"1,898 kg",LEO,NASA,Success\n,F9 v1.1,NaN,14 April 2015,20:10,Cape Canaveral,Success
17,18,NaN,TürkmenÄlem 52°E / MonacoSAT,"4,707 kg",GTO,None,Success\n,F9 v1.1,NaN,27 April 2015,23:03,Cape Canaveral,Success
18,19,NaN,SpaceX CRS-7,"1,952 kg",LEO,NASA,Failure,F9 v1.1,NaN,28 June 2015,14:21,Cape Canaveral,Failure
19,20,NaN,Orbcomm-OG2,"2,034 kg",LEO,Orbcomm,Success\n,F9 FT,NaN,22 December 2015,01:29,Cape Canaveral,Success
20,21,NaN,Jason-3,553 kg,LEO,NASA,Success\n,F9 v1.1,NaN,17 January 2016,18:42,VAFB,Success
21,22,NaN,SES-9,"5,271 kg",GTO,SES,Success\n,F9 FT,NaN,4 March 2016,23:35,Cape Canaveral,Success
22,23,NaN,SpaceX CRS-8,"3,136 kg",LEO,NASA,Success,F9 FT,NaN,8 April 2016,20:43,Cape Canaveral,Success
23,24,NaN,JCSAT-14,"4,696 kg",GTO,SKY Perfect JSAT Group,Success\n,F9 FT,NaN,6 May 2016,05:21,Cape Canaveral,Success
24,25,NaN,Thaicom 8,"3,100 kg",GTO,Thaicom,Success\n,F9 FT,NaN,27 May 2016,21:39,Cape Canaveral,Success
25,26,NaN,ABS-2A,"3,600 kg",GTO,ABS,Success\n,F9 FT,NaN,15 June 2016,14:29,Cape Canaveral,Success
26,27,NaN,SpaceX CRS-9,"2,257 kg",LEO,NASA,Success\n,F9 FT,NaN,18 July 2016,04:45,Cape Canaveral,Success
27,28,NaN,JCSAT-16,"4,600 kg",GTO,SKY Perfect JSAT Group,Success\n,F9 FT,NaN,14 August 2016,05:26,Cape Canaveral,Success
28,29,NaN,Iridium NEXT,"9,600 kg",Polar,Iridium Communications,Success\n,F9 FT,NaN,14 January 2017,17:54,VAFB,Success
29,30,NaN,SpaceX CRS-10,"2,490 kg",LEO,NASA,Success\n,F9 FT,NaN,19 February 2017,14:39,KSC,Success

We can now export it to a <b>CSV</b> for the next section, but to make the answers consistent and in case you have difficulties finishing this lab. 

Following labs will be using a provided dataset to make each lab independent.

<code>df.to_csv('spacex_web_scraped.csv', index=False)</code>

In [47]:
df.to_csv('spacex_web_scraped.csv', index=False)

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/">Yan Luo</a>

<a href="https://www.linkedin.com/in/nayefaboutayoun/">Nayef Abou Tayoun</a>

<!--
## Change Log
-->

<!--
| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-06-09        | 1.0     | Yan Luo    | Tasks updates           |
| 2020-11-10        | 1.0     | Nayef      | Created the initial version |
-->

Copyright © 2021 IBM Corporation. All rights reserved.